{{> nav/nav-block user=true register=false}}

<div class="container">
  <!-- jumbotron with logo-->
  <div id="jumbotronProfile" class="jumbotron">
  </div>

  <section class="container-fluid">
    <div id="infoCard" class="card mb-12" style="max-width: 650px;">
      <div class="row no-gutters">

        <div class="col-md-4">
          <form id="thisIsImage" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="card mx-auto">
              <h6 id="movingNames" class="row text-center justify-content-start text-uppercase">{{ userInfo.firstName}}
                {{userInfo.lastName}}</h6> <button id="addUserButtonNew" type="button" class="btn btn-default btn-sm">
                <i class="fa fa-user-plus"></i>
              </button>

              <img class="card-img-top" id="userImage" src="https://res.cloudinary.com/bookmarked/image/upload/v1607383426/person-reading-icon-17_hkhwyf.png" />
              <input value="Upload" id="upload_widget_opener" class="btn btn-primary btn-block">
            </div>
          </form>
          <p class="card-text"><small class="text-muted">Member Since: {{ memberSince }}</small></p>

        </div>
        <div class="col-md-8">
          <button class="btn btn-default btn-sm" id="btnFollow" data-toggle="modal" data-target="#myModal1" type="button">
          <i class="fa fa-users">Followers</i>
        </button>
        <button class="btn btn-default btn-sm" id="btnFollow" data-toggle="modal" data-target="#myModal3" type="button">
          <i class="fa fa-users">Following</i>
        </button>
        {{#each userInfo.followees}}
        <div>{{this.firstName}} {{this.lastName}}</div>
        {{/each}}
          <div class="card-body">
            <h5 id="currentlyReading" class="card-title">{{userInfo.firstName}} is currently reading:</h5>
            <p class="card-text"> {{#each currentList}}
            <div id="scrollBody" class="col-md-12 list-img" id={{id}}>
              <div>
                <div class="card list-card" id={{id}} data-toggle="modal" data-target="#myModal2"
                  style="background-image: url('{{photo}}')">
                  <div class="card-body list-card-body">
                    <p> Click for more info </p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
            </p>
          </div>

        </div>
      </div>
      {{!-- <div class="card-footer">
        <button class="btn btn-default btn-sm" id="btnFollow" data-toggle="modal" data-target="#myModal1" type="button">
          <i class="fa fa-users">Followers</i>
        </button>
        <button class="btn btn-default btn-sm" id="btnFollow" data-toggle="modal" data-target="#myModal3" type="button">
          <i class="fa fa-users">Following</i>
        </button>
        {{#each userInfo.followees}}
        <div>{{this.firstName}} {{this.lastName}}</div>
        {{/each}}
      </div>
    </div> --}}
  </section>

  <!--books area-->
  <!--Have Read Card-->
  <div class="row">
    <div class="col-lg-6">
      <div class="cardAll">
        <div class="card-header">Have Read</div>
        <div class="card-body" id="cardBody2">
          {{#each pastList}}
          <div class="col-md-4 list-img" id={{id}}>
            <div class="card list-card" id={{id}} data-toggle="modal" data-target="#myModal2"
              style="background-image: url('{{photo}}')">
              <div class="card-body list-card-body">
                <p>Click for more info</p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <!--Want to Read Card-->
    <div class="col-lg-6">
      <div class="cardAll">
        <div class="card-header">Want to Read</div>
        <div class="card-body" id="cardBody2">
          {{#each futureList}}
          <div class="col-sm-4 list-img" id={{id}}>
            <div class="card list-card" id={{id}} data-toggle="modal" data-target="#myModal2"
              style="background-image: url('{{photo}}')">
              <div class="card-body list-card-body">
                <p>Click for more info</p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 blog-container" style="max-width: 1500px;">
    <h1 class="bookNotes">Booknotes <i class="fa fa-pencil-square"></i> </h1>
    <hr class="line_break">
    {{#each userBlog}}
    <h5 id={{id}} class="blog-head"> &#8608; {{heading}} &#8606; </h6> 
      <p class="blog-body" scroll>{{blurb}}</p>
      <small class="text-muted">{{format_date createdAt}}</small>
      <button id={{id}} class="removeBlogButton" {{id}}><i class="fa fa-times test-icon">Remove Post</i>
        <span hidden>
          {{id}}</span></button> <br>
      <hr class="line_break">
      {{/each}}
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="form-group">

      </div>
    </div>
  </div>
</div>

<!-- Followers Modal -->
<div class="modal" id="myModal1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Followers</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modalContainer">
        <div class="modal-body">
          <ul>
            {{#each followingUser}}
            <p class='user-connection' id={{id}}>{{this.firstName}} {{this.lastName}} | <a data-toggle='modal'
                class='user-books'> {{this.firstName}}'s books <i class="fa fa-book"></i></a> | <a class='user-follow'>
                Follow {{this.firstName}} <i class="fa fa-times test-icon"></i></a></p>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>
  </div>
</div>

<!-- Following Modal -->
<div class="modal" id="myModal3">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Following</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modalContainer">
        <div class="modal-body">
          <ul>
            {{#each userFollowing}}
            <p class='user-connection' id={{id}}>{{this.firstName}} {{this.lastName}} | <a data-toggle='modal'
                class='user-books'> {{this.firstName}}'s books <i class="fa fa-book"></i></a> | <a class='user-follow'>
                Follow {{this.firstName}} <i class="fa fa-times test-icon"></i></a></p>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>
  </div>
</div>

<!--pop out modal for both followers and following. This will show the users books-->
<div class="modal fade" id="myModal2" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modalContainer">


        <div class="modal-body modal-books row">
          <div class="col-md-4 book-info">
            <div class="row modal-title-author-row">
            </div>
            <div class="row modal-img-row">
            </div>
            <div class="row modal-action-row">
              <p class="modal-list-close-text">Remove from list
                <i class="fa fa-times remove-button"></i>
              </p>
            </div>
          </div>
          <div class="col-md-8 modal-desc-col">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>
  </div>
</div>


<script>
  var userId = {
    {
    userInfo.id
  }
  };
</script>

{{> modal/login-block}}