{{> nav/nav-block user=true register=false}}

<!--container for page-->
<div class="container">

  <!-- jumbotron with logo-->
  <div id="jumbotronProfile" class="jumbotron">
  </div>

  <!--user info card-->
  <div class="card card-1 col-md-4 offset-lg-4">
    <div class="row">
      <div class="col-md-6">
        <img id="userImage" src="https://via.placeholder.com/1000x2000" class="card-img" alt="userProfileImage">
        <!--POSSIBLE UPLOAD BUTTON HERE-->
        <form class="mt-1" action="/upload" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" name="file" id="input-files" class="form-control-file border" />
            <button id="submitButton" type="submit" class="btn btn-default btn-sm">
              <i class="fa fa-camera-retro">Submit</i>
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 id="userName" class="card-title">{{ userInfo.firstName}}</h5>
          <p class="card-text">Member Since: {{ memberSince }}</p>
          <p>{{userInfo.firstName}} is currently reading:
            {{#each currentList}}
            <p class={{id}}>{{title}}
              {{/each}}
              <!--Change title of currently reading to just the book image?-->
            </p>
            <!--Buttons for user interaction-->
            <p> <button id={{userInfo.id}} type="button" class="btn btn-default btn-sm follow-btn">
                <i class="fa fa-user-plus">Add Friend</i>
              </button>
              <button class="btn btn-default btn-sm" id="btnFollow" data-toggle="modal" data-target="#myModal1"
                type="button">
                <i class="fa fa-users">Followers</i>
              </button>
              <button class="btn btn-default btn-sm" id="btnFollow" data-toggle="modal" data-target="#myModal3"
                type="button">
                <i class="fa fa-users">Following</i>
              </button>
              {{#each userInfo.followees}}
              <div>{{this.firstName}} {{this.lastName}}</div>
              {{/each}}
            </p>
        </div>
      </div>
    </div>
  </div>

  <!--books area-->
  <!--Have Read Card-->
  <div class="row">
    <div class="col-sm-6 mt-5">
      <div class="card">
        <div class="card-header">Have Read</div>
        <div class="card-body" id="cardBody2">
          <ul class='future-list'>
            {{#each pastList}}
            <p class={{id}}>{{title}}
              {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <!--Want to Read Card-->
    <div class="col-sm-6 mt-5">
      <div class="card">
        <div class="card-header">Want to Read</div>
        <div class="card-body" id="cardBody2">
          <ul class='future-list'>
            {{#each futureList}}
            <p class={{id}}>{{title}}
              {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--blog/review area-->
  {{!-- <div class="row">
    <div class="col md-12 mt-5">
      <div class="card">
        <div class="card-header">
          Thoughts: <i class="fa fa-commenting-o"></i>
        </div>
        <div class="card-body">
          <div class="form-group shadow-textarea">
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
              placeholder="Write something here..."></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <hr>
          <p class="card-text">this area will populate with posts?
            <hr>
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div> --}}
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="form-group">

      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 blog-container">
      {{#each userBlog}}
      <h6 id={{id}} class="blog-head">{{heading}}</h6>
      <p class="blog-body">{{blurb}}</p>
      {{/each}}
    </div>
  </div>

</div>

</div>

<!-- Followers Modal -->
<div class="modal" id="myModal1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Followers</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modalContainer">
        <div class="modal-body">
          <ul>
            {{#each followingUser}}
            <p class='user-connection' id={{id}}>{{this.firstName}} {{this.lastName}} | <a data-toggle='modal'
                class='user-books' href='#myModal2'> {{this.firstName}}'s books <i class="fa fa-book"></i></a> | <a
                class='user-follow'> Follow {{this.firstName}} <i class="fa fa-times test-icon"></i></a></p>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>
  </div>
</div>

<!-- Following Modal -->
<div class="modal" id="myModal3">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Following</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modalContainer">
        <div class="modal-body">
          <ul>
            {{#each userFollowing}}
            <p class='user-connection' id={{id}}>{{this.firstName}} {{this.lastName}} | <a data-toggle='modal'
                class='user-books' href='#myModal2'> {{this.firstName}}'s books <i class="fa fa-book"></i></a> | <a
                class='user-follow'> Follow {{this.firstName}} <i class="fa fa-times test-icon"></i></a></p>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>
  </div>
</div>

<!--pop out modal for both followers and following. This will show the users books-->
<div class="modal" id="myModal2" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modalContainer">
        <div class="modal-body modal-books">
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>
  </div>
</div>


<script>
  var userId = {
    {
      activeUser
    }
  };
</script>

{{> modal/login-block}}